@page
@model GAMe.Pages.IgraSveModel
@{

    ViewData["Title"] = "Igre";
}

@if(SessionClass.TipKorisnika == "A") 
{
    <div class="text-right">
        <h3><a asp-page="./IgraDodaj">Dodaj igru <i class="fas fa-plus-circle"></i></a></h3>
    </div>
}
<form method="post">
    
    <div class="row">
        @foreach (var igra in Model.SveIgre)
        {
            <div class="column">
                <div class="flip-card-igra">
                    <div class="inner-igra">
                        <div class="front-igra">
                           <img src="images/@igra.slika" alt="Avatar" style="width:300px;height:200px; border-radius: 0px 50px;  "> 
                         </div>
                        <div class="back-igra">
                            <div class="text-center"><h1 style="color: rgb(59, 66, 192);">@igra.naziv</h1></div>
                            <div><a asp-page="./IgraJedna" asp-route-id="@igra.idIgra">Prikaži detalje <i class="fas fa-info-circle"></i></a></div>
                            @if (SessionClass.TipKorisnika == "K")
                             {
                                <div><a asp-page="./IgraRezervisi" asp-route-id="@igra.idIgra">Rezerviši igru <i class="far fa-calendar-plus"></i></a></div>
                             }
                            @if (SessionClass.TipKorisnika == "A")
                             {
                                <div><a asp-page="./IgraObrisi" asp-route-id="@igra.idIgra">Obriši igru <i class="fas fa-trash-alt"></i></a></div>
                                <div><a asp-page="./IgraIzmeni" asp-route-id="@igra.idIgra">Izmeni igru <i class="fas fa-edit"></i></a></div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>