@page
@model GAMe.Pages.IgraJednaModel
@{
}
<div class="containter">
 <form method="get">
            <div class="card">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">@Model.TrenutnaIgra.naziv</h6>
                </div>
                    <div><h4>Zanr:<label class="igraLabel">@Model.TrenutnaIgra.zanr</label></h4></div>
                    <div><h4>Verzija:<label class="igraLabel">@Model.TrenutnaIgra.verzija</label></h4></div>
                    <div><h4>Opis:<label class="igraLabel">@Model.TrenutnaIgra.opis</label></h4></div>
                    <div><h4>Cena:<label class="igraLabel">@Model.TrenutnaIgra.cena</label></h4></div>
                    <div style="position: center;">
                    <img src="images/@Model.TrenutnaIgra.slika" alt="Avatar" style="width: 100%;"> 
                    </div>
            </div>
</form>
</div>